<% if current_user.present? %>
  <%= form_tag Import.new, class: "dropzone", id: "import-dropzone",
    multipart: true, authenticity_token: true, remote: true, multiple: true do %>
    <div class="fallback">
      <%= file_field_tag :files, multiple: true %><br>
      <%= submit_tag "Upload" %>
    </div>
  <% end %>
<% end %>
<%= render partial: "pages/welcome" %>
<%= render partial: "pages/imports" %>
