<div id='compare-tables'>
  <div class="col-xs-2">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left" role="tablist">
      <% @tabs.values.flatten.each_with_index do |tab, i| %>
        <li role="presentation" class="<%= :active if i == 0 %>">
          <a href="#<%= tab %>" aria-controls="<%= tab %>" role="tab"
            data-toggle="tab"><%= tab.titleize %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="col-xs-10">
    <div class="tab-content" style='margin-top: 20px'>
      <% @tabs.each do |kind, names| %>
        <% names.each_with_index do |name, i| %>
          <div role="tabpanel" class="tab-pane <%= :active if i == 0 && kind == :runes %>" id="<%= name %>">
            <%= render partial: "logs/compare/#{kind}.html.erb", locals: { drop: name } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
